[submodule "lib/chibios"]
	path = lib/chibios
	url = https://github.com/qmk/ChibiOS
	branch = master
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = https://github.com/qmk/ChibiOS-Contrib
	branch = master
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/qmk/googletest
[submodule "lib/lufa"]
	path = lib/lufa
	url = https://github.com/qmk/lufa
[submodule "lib/vusb"]
	path = lib/vusb
	url = https://github.com/qmk/v-usb
[submodule "lib/printf"]
	path = lib/printf
	url = https://github.com/qmk/printf
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/qmk/pico-sdk.git
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/qmk/lvgl.git
	branch = release/v8.2
[submodule "keyboards/ferris/keymaps/hbmorrison"]
	path = keyboards/ferris/keymaps/hbmorrison
	url = git@github.com:hbmorrison/ferris-sweep.git
	branch = develop
[submodule "keyboards/planck/rev7/keymaps/hbmorrison"]
	path = keyboards/planck/rev7/keymaps/hbmorrison
	url = git@github.com:hbmorrison/olkb-planck.git
	branch = develop
[submodule "keyboards/ferris/keymaps/hold"]
	path = keyboards/ferris/keymaps/hold
	url = git@github.com:hbmorrison/ferris-sweep-hold.git
	branch = develop
[submodule "keyboards/planck/rev7/keymaps/hold"]
	path = keyboards/planck/rev7/keymaps/hold
	url = git@github.com:hbmorrison/planck-hold.git
	branch = develop
[submodule "keyboards/ferris/keymaps/sidekey"]
	path = keyboards/ferris/keymaps/sidekey
	url = git@github.com:hbmorrison/ferris-sweep-sidekey.git
	branch = develop
[submodule "keyboards/planck/rev7/keymaps/sidekey"]
	path = keyboards/planck/rev7/keymaps/sidekey
	url = git@github.com:hbmorrison/planck-sidekey.git
	branch = develop
